In [3]:
mystring='hello'
mylist=[]
for letters in mystring:
    mylist.append(letters)
    
# to create list of every element of a string

In [4]:
mylist

['h', 'e', 'l', 'l', 'o']

In [5]:
 # to create list of every element of a string# now comprihension method
mystring='darsh'
mylist=[letters for letters in mystring]

In [6]:
mylist

['d', 'a', 'r', 's', 'h']

In [7]:
mystring='darsh'
mylist=[x for x in mystring]
mylist

['d', 'a', 'r', 's', 'h']

In [9]:
mylist1=[x for x in range(0,10,2)]
mylist1

[0, 2, 4, 6, 8]

In [10]:
mylist2=[x**2 for x in range(0,10,2)]
mylist2 # creating list of squares

[0, 4, 16, 36, 64]

In [11]:
mylist3=[x for x in range (0,10) if x%2==0]
mylist3

[0, 2, 4, 6, 8]

In [13]:
mylist4=[x**2 for x in range(0,10) if x%2==0]
mylist4

[0, 4, 16, 36, 64]

In [16]:
celcius=[0,10,20,30,40,-40]
mylist5=[9/5*c+32 for c in celcius ]
mylist5

[32.0, 50.0, 68.0, 86.0, 104.0, -40.0]

In [18]:
celcius=[0,10,20,30,40,-40]#without comprehension

mylist6=[]
for temp in celcius:
    mylist6.append(9/5*temp+32)
mylist6

[32.0, 50.0, 68.0, 86.0, 104.0, -40.0]

In [2]:
# else statement in python
results=[x if x%2==0 else 'odd' for x in range(0,11)]
results

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10]

In [7]:
#nested for loop
mylist=[]

for x in [1,2,3]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [8]:
mylist

[100, 200, 300, 200, 400, 600, 300, 600, 900]

In [10]:
mylist=[x*y for x in [1,2,3] for y in [100,200,300]]

In [12]:
mylist

[100, 200, 300, 200, 400, 600, 300, 600, 900]